Step 1 - Check and Create SQL Server for backup purposes/Step 1 - Check and Create SQL Server for backup purposes.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string",
      "metadata": "Data Factory name"
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
  },
  "resources": [
    {
      "name": "[concat(parameters('factoryName'), '/Step 1 - Check and Create SQL Server for backup purposes')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "description": "This pipeline will check if the SQL Server exist for the backup process, and if not create it",
        "activities": [
          {
            "name": "Check if backup SQL Server exist",
            "type": "WebActivity",
            "dependsOn": [
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [
            ],
            "typeProperties": {
              "url": {
                "value": "https://management.azure.com/subscriptions/@{pipeline().parameters.infra_SubscriptionId}/resourceGroups/@{pipeline().parameters.infra_BackupResourceGroup}/providers/Microsoft.Sql/servers/@{pipeline().parameters.infra_BackupSqlServerName}?api-version=2019-06-01-preview",
                "type": "Expression"
              },
              "method": "GET",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "sku": {
                  "name": "DW200c"
                }
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://management.azure.com/"
              }
            }
          },
          {
            "name": "Create backup SQL Server",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "Set user name",
                "dependencyConditions": [
                  "Succeeded"
                ]
              },
              {
                "activity": "Set backup user password",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": true,
              "secureInput": true
            },
            "userProperties": [
            ],
            "typeProperties": {
              "url": {
                "value": "https://management.azure.com/subscriptions/@{pipeline().parameters.infra_SubscriptionId}/resourceGroups/@{pipeline().parameters.infra_BackupResourceGroup}/providers/Microsoft.Sql/servers/@{pipeline().parameters.infra_BackupSqlServerName}?api-version=2019-06-01-preview",
                "type": "Expression"
              },
              "method": "PUT",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "value": "{\n\"properties\":{\n    \"administratorLogin\":\"@{variables('security_BackupServerUserName')}\",\n    \"administratorLoginPassword\": \"@{variables('security_BackupServerPassword')}\",\n    \n    }\n,\"location\": \"@{pipeline().parameters.infra_Region}\",\n\"tags\": {\n      @{pipeline().parameters.infra_Tags}\n    }\n}\n\n",
                "type": "Expression"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://management.azure.com/"
              }
            }
          },
          {
            "name": "Add ADF MSI as the domain admin for the SQL Server",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "Create backup SQL Server",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": true,
              "secureInput": true
            },
            "userProperties": [
            ],
            "typeProperties": {
              "url": {
                "value": "https://management.azure.com/subscriptions/@{pipeline().parameters.infra_SubscriptionId}/resourceGroups/@{pipeline().parameters.infra_BackupResourceGroup}/providers/Microsoft.Sql/servers/@{pipeline().parameters.infra_BackupSqlServerName}/administrators/activeDirectory?api-version=2014-04-01-preview",
                "type": "Expression"
              },
              "method": "PUT",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "value": "{\"id\": \"/subscriptions/@{pipeline().parameters.infra_SubscriptionId}/resourceGroups/@{pipeline().parameters.infra_BackupResourceGroup}/providers/Microsoft.Sql/servers/@{pipeline().parameters.infra_BackupSqlServerName}/administrators/activeDirectory\", \"name\": \"activeDirectory\", \"properties\": {\"administratorType\": \"ActiveDirectory\", \"login\": \"ibBackupDWToBlob\", \"sid\": \"@{pipeline().parameters.security_AdfAppId}\", \"tenantId\": \"@{pipeline().parameters.security_TenantId}\"}}",
                "type": "Expression"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://management.azure.com/"
              }
            }
          },
          {
            "name": "Allow All Azure Services Access",
            "description": "Change the firewall configuration for \"Allow Azure services and resources to access this server\" to Yes.",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "Add ADF MSI as the domain admin for the SQL Server",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": true,
              "secureInput": true
            },
            "userProperties": [
            ],
            "typeProperties": {
              "url": {
                "value": "https://management.azure.com/subscriptions/@{pipeline().parameters.infra_SubscriptionId}/resourceGroups/@{pipeline().parameters.infra_BackupResourceGroup}/providers/Microsoft.Sql/servers/@{pipeline().parameters.infra_BackupSqlServerName}/firewallRules/AllowAllWindowsAzureIps?api-version=2014-04-01",
                "type": "Expression"
              },
              "method": "PUT",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "properties": {
                  "startIpAddress": "0.0.0.0",
                  "endIpAddress": "0.0.0.0"
                }
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://management.azure.com/"
              }
            }
          },
          {
            "name": "Get backup database user name from AKV",
            "description": "",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "Check if backup SQL Server exist",
                "dependencyConditions": [
                  "Failed"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": true,
              "secureInput": true
            },
            "userProperties": [
            ],
            "typeProperties": {
              "url": {
                "value": "@pipeline().parameters.security_AKVBackupUserNameUri",
                "type": "Expression"
              },
              "method": "GET",
              "headers": {
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://vault.azure.net"
              }
            }
          },
          {
            "name": "Get backup database user password from AKV",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "Check if backup SQL Server exist",
                "dependencyConditions": [
                  "Failed"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": true,
              "secureInput": true
            },
            "userProperties": [
            ],
            "typeProperties": {
              "url": {
                "value": "@pipeline().parameters.security_AKVBackupUserPasswordUri",
                "type": "Expression"
              },
              "method": "GET",
              "headers": {
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://vault.azure.net"
              }
            }
          },
          {
            "name": "Set user name",
            "type": "SetVariable",
            "dependsOn": [
              {
                "activity": "Get backup database user name from AKV",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [
            ],
            "typeProperties": {
              "variableName": "security_BackupServerUserName",
              "value": {
                "value": "@activity('Get backup database user name from AKV').output.value",
                "type": "Expression"
              }
            }
          },
          {
            "name": "Set backup user password",
            "type": "SetVariable",
            "dependsOn": [
              {
                "activity": "Get backup database user password from AKV",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [
            ],
            "typeProperties": {
              "variableName": "security_BackupServerPassword",
              "value": {
                "value": "@activity('Get backup database user password from AKV').output.value",
                "type": "Expression"
              }
            }
          }
        ],
        "parameters": {
          "infra_BackupSqlServerName": {
            "type": "securestring"
          },
          "infra_SubscriptionId": {
            "type": "securestring"
          },
          "infra_BackupResourceGroup": {
            "type": "securestring"
          },
          "infra_Tags": {
            "type": "securestring"
          },
          "infra_Region": {
            "type": "securestring"
          },
          "security_AdfAppId": {
            "type": "securestring"
          },
          "security_AKVBackupUserNameUri": {
            "type": "securestring"
          },
          "security_AKVBackupUserPasswordUri": {
            "type": "securestring"
          },
          "security_TenantId": {
            "type": "securestring"
          }
        },
        "variables": {
          "security_BackupServerUserName": {
            "type": "String"
          },
          "security_BackupServerPassword": {
            "type": "String"
          }
        },
        "folder": {
          "name": "Backup DW"
        },
        "annotations": [
        ],
        "lastPublishTime": "2019-09-19T14:34:59Z"
      },
      "dependsOn": [
      ]
    }
  ]
}